table {
  margin: 1em auto;
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 1em;
  }
  tbody tr td {
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 8px;
  }
  tbody tr:first-child td {
    font-weight: 600;
    border-bottom: 2px solid #d6d6d6;
  }
}

h1 {
  font-weight: 600;
  padding-bottom: 1.5em;
}
.remove_button {
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
}

.pay_button {
  margin-top: 3em;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  background-color: rgb(107, 2, 107);
}

@media only screen and (max-width: 768px) {
  .variant,
  .price {
    display: none;
  }
}
