.product__card {
  text-align: center;
  background-color: white;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.26);
  margin: 1em;
  padding: 1em;
  .product__info {
  }

  img {
    max-width: 100%;
  }
}
