nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
  max-width: 100%;
  gap: 2em;
  a {
    font-size: 1em;
    &:visited {
      color: salmon;
    }
    &:hover {
      color: yellowgreen;
    }
  }
}
