.main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .image_container {
    img {
      max-height: 600px;
      max-width: 600px;
    }
  }

  .details_container {
    padding: 2em;
    text-align: center;
    fieldset {
      padding: 1em;
    }
  }
}
