.slide {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 200px;
  height: 30vh; // vh: relative to 1% of the height of the viewport

  h3 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
