@use "../../assets/styles/palette.scss";

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;

  a:first-of-type {
    flex-grow: 1;
    display: flex;
    align-items: center;

    img {
      max-height: 8em;
      max-width: 8em;
    }
  }

  a {
    margin-right: 5em;
    font-size: 1.3em;
    &:visited {
      color: rgb(107, 2, 107);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
