nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;

  a:first-of-type {
    flex-grow: 1;
    text-align: left;

    display: flex;
    align-items: center;

    img {
      max-height: 8em;
      max-width: 8em;
    }
  }

  a {
    font-size: 1.3em;
    &:visited {
      color: salmon;
    }
    &:hover {
      color: yellowgreen;
    }
  }
}
